In [4]:
w = float(input("Enter weight in  kilograms: "))
pounds = 2.205 * w
grams = w * 100
print(f"{w} kg is equal to {pounds:.2f} pounds and {grams:.0f} grams"

Enter weight in  kilograms: 12
12.0 kg is equal to 26.46 pounds and 12000 grams

In [ ]:
for i in range(8,90,3):
   print(i,end= ", ")

8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89,

In [ ]:
S = "Python program"
C = list(S)
print(C)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm']

In [ ]:
numbers = ()
largest_number = max(numbers)
print("The largest number in the tuple is:", largest_number)

The largest number in the tuple is: 67

In [ ]:
def fibonacci(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    else:
        return fibonacci(num-1) + fibonacci(num-2)

print("Fibonacci of 12: ", fibonacci(12))

Fibonacci of 12:  144

In [ ]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
    def start(self):
        print(f"The {self.year} {self.make} {self.model} has started.")
    def stop(self):
        print(f"The {self.year} {self.make} {self.model} has stopped.")
car1 = Car("Audi", "AK6735", 2023)
car2 = Car("Skoda", "RL1916", 2073)
car1.start()
car1.stop()
car2.start()
car2.stop()

The 2023 Audi AK6735 has started.
The 2023 Audi AK6735 has stopped.
The 2073 Skoda RL1916 has started.
The 2073 Skoda RL1916 has stopped.

In [ ]:
class Animal:
    def __init__(self, name):
        self.name = name

    def eat(self):
        print(f"{self.name} is eating.")

class Dog(Animal):
    def bark(self):
        print(f"{self.name} is barking.")

class Cat(Animal):
    def meow(self):
        print(f"{self.name} is meowing.")

d  = Dog("Ray")
c = Cat("Housie")

d.eat()
d.bark()
c.eat()
c.meow()

Ray is eating.
Ray is barking.
Housie is eating.
Housie is meowing.

In [ ]:
class animal:
    def make_sound(self):
        print("Some generic animal sounds")

class dog(animal):
    def __init__(self, name="Husky"):
        self.name = name

    def make_sound(self):
        print(f"{self.name} says Bow!")

class cat(animal):
    def __init__(self, name="Tommy"):
        self.name = name

    def make_sound(self):
        print(f"{self.name} says Meow!")

class Bird(animal):
    def __init__(self, name="Cico"):
        self.name = name

    def make_sound(self):
        print(f"{self.name} says Tweet!")

a1 = [dog(), cat(), Bird()]

for a in a1:
    a.make_sound()

Husky says Bow!
Tommy says Meow!
Cico says Tweet!

In [ ]:
try:
    num1 = int(input("Enter numerator: "))
    num2 = int(input("Enter denominator: "))
    result = num1 / num2
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")

Enter numerator: 67
Enter denominator: 0
Error: Division by zero is not allowed.

In [ ]:
import numpy as np

a = np.array([5, 8, 7])
b = np.array([9, 0, 6])

print("Addition:", np.add(a, b))
print("All elements non-zero in a:", np.all(a))
print("b > a:", np.greater(b, a))
print("b >= a:", np.greater_equal(b, a))
print("a < b:", np.less(a, b))
print("a <= b:", np.less_equal(a, b))
print("a == b:", np.equal(a, b))
print("Arrays close:", np.allclose(a, [2, 0, 7]))
print("Array of zeros:", np.zeros(4))
print("Array of ones:", np.ones(4))
print("Equally spaced values:", np.linspace(-2, 2, 5))
print("List from array a:", a.tolist())

Addition: [14  8 13]
All elements non-zero in a: True
b > a: [ True False False]
b >= a: [ True False False]
a < b: [ True False False]
a <= b: [ True False False]
a == b: [False False False]
Arrays close: False
Array of zeros: [0. 0. 0. 0.]
Array of ones: [1. 1. 1. 1.]
Equally spaced values: [-2. -1.  0.  1.  2.]
List from array a: [5, 8, 7]

In [ ]:
import numpy as np
arr=np.array([6,7,3,5,1,9,1,6])
print("Max:",np.max(arr))
print("Min:",np.min(arr))
print("Argmax:",np.argmax(arr))
print("Argmin:",np.argmin(arr))
print("Unique:",np.unique(arr))
print("Bincount:",np.bincount(arr))

Max: 9
Min: 1
Argmax: 5
Argmin: 4
Unique: [1 3 5 6 7 9]
Bincount: [0 2 0 1 0 1 2 1 0 1]

In [ ]:
import pandas as pd
data = [93, 41, 120, 16, 19, 35, 67]
series = pd.Series(data)
print(series)

0     93
1     41
2    120
3     16
4     19
5     35
6     67
dtype: int64

In [ ]:
import pandas as pd
data = [10, 17, 93, 45, 7, 33]
series = pd.Series(data)
list_data = series.tolist()
print(list_data)
print(type(list_data))

[10, 17, 93, 45, 7, 33]
<class 'list'>

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'name': ['Minnie','Honey','Lucky','Anju','Kalyani','Jyothi','Maha','Priyanka','Mahathi','Lohita'],
    'score': [18,7.5,13,10,19.5,8,15.5,np.nan,11,17]})
df['score'].fillna(df['score'].mean(), inplace=True)
print(df.nlargest(5, 'score'))

       name      score
4   Kalyani  19.500000
0    Minnie  18.000000
9    Lohita  17.000000
6      Maha  15.500000
7  Priyanka  13.277778

/tmp/ipython-input-3671714559.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['score'].fillna(df['score'].mean(), inplace=True)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'name':
['Minnie','Honey','Lucky','Anju','Kalyani','Jyothi','Maha','Priyanka','Mahathi','Lohita'],
    'score': [12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
    'attempts': [1,3,2,3,2,3,1,1,2,1],
    'qualify': ['yes','no','yes','no','no','yes','yes','no','no','yes']
}, index=['a','b','c','d','e','f','g','h','i','j'])

df['score'].fillna(df['score'].mean(), inplace=True)
df.replace({'name': {'Minnie': 'Durga', 'Lucky': 'Ravi', 'Honey': 'Anita'}}, inplace=True)
print(df)

       name    score  attempts qualify
a     Durga  12.5000         1     yes
b     Anita   9.0000         3      no
c      Ravi  16.5000         2     yes
d      Anju  13.5625         3      no
e   Kalyani   9.0000         2      no
f    Jyothi  20.0000         3     yes
g      Maha  14.5000         1     yes
h  Priyanka  13.5625         1      no
i   Mahathi   8.0000         2      no
j    Lohita  19.0000         1     yes

/tmp/ipython-input-51718571.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['score'].fillna(df['score'].mean(), inplace=True)

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'name':
    ['Minnie','Honey','Lucky','Anju','Kalyani','Jyothi','Maha','Priyanka','Mahathi','Lohita'],
    'score': [12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
    'attempts': [1,3,2,3,2,3,1,1,2,1],
    'qualify': ['yes','no','yes','no','no','yes','yes','no','no','yes']
}, index=['a','b','c','d','e','f','g','h','i','j'])
df['score'].fillna(df['score'].mean(), inplace=True)
df['grade'] = np.random.choice(['A', 'B', 'C', 'D'], size=len(df))
print(df)

       name    score  attempts qualify grade
a    Minnie  12.5000         1     yes     D
b     Honey   9.0000         3      no     B
c     Lucky  16.5000         2     yes     D
d      Anju  13.5625         3      no     B
e   Kalyani   9.0000         2      no     D
f    Jyothi  20.0000         3     yes     D
g      Maha  14.5000         1     yes     D
h  Priyanka  13.5625         1      no     B
i   Mahathi   8.0000         2      no     A
j    Lohita  19.0000         1     yes     A

/tmp/ipython-input-1049484189.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['score'].fillna(df['score'].mean(), inplace=True)

In [ ]:
import pandas as pd
df = pd.DataFrame({
    'name': ['Andrea','Alexa','Steve'],
    'age': [100, 90, 80],
    'city': ['canada', 'mexico', 'london']})
columns_list = [col.upper() for col in df.keys()]
print(columns_list)

['NAME', 'AGE', 'CITY']